<!DOCTYPE html>
<html>
  <head>
    <title>Atom Manga Reader: About</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style/navstyle2.css') }}"
    />
  </head>
  <body>
    <nav class="navbar">
      <img
        src="{{url_for('static', filename='images/AMR_logo.svg')}}"
        alt="Logo"
        class="nav-logo"
      />
      <a href="/" class="nav-item">Home</a>
      <a href="/search" class="nav-item">Search</a>
      <a href="/favorites" class="nav-item">Favorites</a>
      <a href="/library" class="nav-item">Library</a>
      <a href="/nav" class="nav-item">Help</a>
      <a href="/about" class="nav-item active">About</a>
      <a href="/shutdown" class="nav-item">Exit</a>
    </nav>

    <div class="container">
      <div class="card">
        <div style="text-align: center; margin-bottom: 20px">
          <img
            src="{{url_for('static', filename='images/AMR_logo.svg')}}"
            alt="AMR Logo"
            style="width: 80px; height: auto"
          />
        </div>
        <h1>About Atom Manga Reader</h1>
        <div class="description-box">
          <p>
            Atom Manga Reader (AMR) is an application designed to read manga on
            Kobo eReaders.
          </p>
          <p>
            This application was developed for the Kobo ereaders, which do not
            have an inbuilt manga reader for reading manga from online sources.
            It was designed to be easy to install and use.
          </p>
          <p>
            The app was built entirely with python for the back end. I relied on
            html for the front end, to provide buttons and images for navigating
            and viewing.
          </p>
          <p>
            You can find more details about the app on
            <a
              href="https://www.mobileread.com/forums/showthread.php?t=348950"
              target="_blank"
              >mobileread</a
            >
            and
            <a
              href="https://github.com/buxared/BananaMangaReader"
              target="_blank"
              >GitHub</a
            >.
          </p>
          <p>
            <strong>Version:</strong> 0.3 (released 13th January 2025)<br />
            <strong>Developed by:</strong> buxared
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
