<!DOCTYPE html>
<html>
  <head>
    <title>Atom Manga Reader: Favorites</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style/navstyle2.css') }}"
    />
  </head>
  <body>
    <nav class="navbar">
      <img
        src="{{url_for('static', filename='images/AMR_logo.svg')}}"
        alt="Logo"
        class="nav-logo"
      />
      <a href="/" class="nav-item">Home</a>
      <a href="/search" class="nav-item">Search</a>
      <a href="/favorites" class="nav-item active">Favorites</a>
      <a href="/library" class="nav-item">Library</a>
      <a href="/nav" class="nav-item">Help</a>
      <a href="/about" class="nav-item">About</a>
      <a href="/shutdown" class="nav-item">Exit</a>
    </nav>

    <div class="container">
      <div class="card">
        <h2>Favorites</h2>
        {% if n_manga > 0 %}
        <div class="action-grid" style="grid-template-columns: 1fr">
          {% for key in res %}
          <div
            class="card"
            style="
              border: 1px solid black;
              padding: 1rem;
              display: flex;
              justify-content: space-between;
              align-items: center;
            "
          >
            <a
              href="/manga_result/choice/{{key}}"
              style="
                font-weight: bold;
                font-size: 1.2rem;
                text-decoration: none;
                color: black;
              "
            >
              {{ res[key]['title'] }}
            </a>
            <form action="/removeFavConfirm/{{key}}" style="margin: 0">
              <button
                type="submit"
                class="btn btn-secondary"
                style="padding: 0.5rem 1rem; font-size: 1rem"
              >
                Remove
              </button>
            </form>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <p>No favorites added yet.</p>
        <a href="/search" class="btn">Search for Manga</a>
        {% endif %}
      </div>
    </div>
  </body>
</html>
