<!DOCTYPE html>
<html>
  <head>
    <title>Atom Manga Reader: Library</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style/navstyle2.css') }}"
    />
  </head>
  <body>
    <nav class="navbar">
      <img
        src="{{url_for('static', filename='images/AMR_logo.svg')}}"
        alt="Logo"
        class="nav-logo"
      />
      <a href="/" class="nav-item">Home</a>
      <a href="/search" class="nav-item">Search</a>
      <a href="/favorites" class="nav-item">Favorites</a>
      <a href="/library" class="nav-item active">Library</a>
      <a href="/nav" class="nav-item">Help</a>
      <a href="/about" class="nav-item">About</a>
      <a href="/shutdown" class="nav-item">Exit</a>
    </nav>

    <div class="container">
      <div class="card">
        <h2>Library</h2>
        {% if n_titles > 0 %}
        <div class="action-grid" style="grid-template-columns: 1fr">
          {% for n in range(n_titles) %}
          <div
            class="card"
            style="
              border: 1px solid black;
              padding: 1rem;
              display: flex;
              justify-content: space-between;
              align-items: center;
            "
          >
            <div style="display: flex; align-items: center; gap: 1rem">
              <span style="font-weight: bold; font-size: 1.2rem"
                >{{ n+1 }}.</span
              >
              <a
                href="/library/{{title_list[n]}}"
                style="
                  font-weight: bold;
                  font-size: 1.2rem;
                  text-decoration: none;
                  color: black;
                "
              >
                {{ title_list[n] }}
              </a>
            </div>
            <form action="/libTitleRemoval/{{title_list[n]}}" style="margin: 0">
              <button
                type="submit"
                class="btn btn-secondary"
                style="padding: 0.5rem 1rem; font-size: 1rem"
              >
                Remove
              </button>
            </form>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <p>Library is empty.</p>
        <a href="/search" class="btn">Search for Manga to Download</a>
        {% endif %}
      </div>
    </div>
  </body>
</html>
