<!DOCTYPE html>
<html>
  <head>
    <title>AtomMangaReader: Navigation</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style/navstyle2.css') }}"
    />
  </head>
  <body>
    <nav class="navbar">
      <img
        src="{{url_for('static', filename='images/AMR_logo.svg')}}"
        alt="Logo"
        class="nav-logo"
      />
      <a href="/" class="nav-item">Home</a>
      <a href="/search" class="nav-item">Search</a>
      <a href="/favorites" class="nav-item">Favorites</a>
      <a href="/library" class="nav-item">Library</a>
      <a href="/nav" class="nav-item active">Help</a>
      <a href="/about" class="nav-item">About</a>
      <a href="/shutdown" class="nav-item">Exit</a>
    </nav>

    <div class="container">
      <div class="card">
        <h1>Navigating through AMR</h1>
        <div class="description-box">
          <p>
            This page describes the various screens or pages you will come
            across while using the AMR app and how to navigate across them by
            using the menu.
          </p>

          <h3>Home Page</h3>
          <p>
            The app opens in the Home page, which lets you access other pages of
            interest from the hamburger menu (three lines) in the top left
            corner of the screen.
          </p>

          <h3>Search Page</h3>
          <p>
            Clicking on Search Manga in the menu takes you to the "search page"
            where you can search for a manga using the form. You will only get
            the top 20 results, so make sure you use some good key words.<br />
            The results of the search will be displayed in a new page. You can
            click on a manga title to view more details, or make a new search
            here.
          </p>

          <h3>Manga Home Page</h3>
          <p>
            Clicking on a manga title from the search results takes you to the
            "Manga Home" or the manga title page. Here you can see more details
            about the manga and scroll through the list of available chapters.
            From this page, using the menu option, you can add this manga to
            your favorites list.
          </p>

          <h3>Online Reader</h3>
          <p>
            Clicking on a chapter title from the Manga Home takes you to the
            "Online Reader". Here you can actually read the manga chapter. Note
            that clicking on the left side of the page takes you to the next
            page. Clicking on the right will take you to the previous page. The
            menu opens by clicking in the center of the screen. You can go back
            to the Manga Home, go to the next or previous chapter or select
            other options from the menu.
          </p>

          <h3>Favorites Page</h3>
          <p>
            From any page, clicking on "Favorites" in the menu takes you to the
            "Favorites" page, where you can see a list of the manga titles you
            have added. Clicking on these titles takes you to the "Manga Home"
            for that title. If you click on the "Remove" button, you can delete
            the title from your favorites.
          </p>

          <h3>Library Home Page</h3>
          <p>
            From any page, clicking on "Library" in the menu takes you to the
            "Library Home" page, where you can see a list of the manga titles
            whose chapters you have downloaded. You can manually add manga to
            your Library by making a new folder for your manga title under the
            "library" folder in ".AMR/static" after connecting your Kobo to your
            computer.
          </p>

          <h3>Library Manga Home</h3>
          <p>
            Clicking on a title from the library home takes you to the "Library
            Manga Home" for that title. Here, you can view a list of the
            chapters you have downloaded for this particular manga. Click on a
            chapter title to read that chapter in the "Offline Reader"
          </p>

          <h3>Offline Reader</h3>
          <p>
            The "Offline Reader" functions the same as the online reader
            described above. The only difference is in the menu options.
          </p>

          <h3>Shut down</h3>
          <p>
            From any page, you can click "Close app" from the menu to initiate
            app shut down. You should always do this before closing the browser.
            This stops the internal server from using CPU resources to serve
            pages on the localhost.
          </p>

          <p>
            Navigating the app should be easy and intuitive once you know what
            each menu option does.<br />
            Happy Reading! Go Bananas!!
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
